# data files
data/
*.csv
*.xlsx

# IDE files
*.sublime-project
*.sublime-workspace

# python files
.DS_Store
.ipynb_checkpoints/
__pycache__/

# log files
*.log
./source/logs/**
./source/logs/jma_send.log

# pycharm
.idea/*
.idea/

# cache
./cache/**
./cache/*.json
